In [1]:
import os
import pandas as pd
import shutil

In [2]:
os.getcwd()

'C:\\Python\\Python36-32\\examples\\area'

In [89]:
data = []
for root, dirs, files in os.walk('.', topdown=False):
    for name in files:
#         print(os.path.join(root, name))
#         fullname = os.path.join(root, name)
#         data.append(fullname)
        data.append(name)

In [26]:
df=pd.read_csv('taxtion_Done.csv')

In [27]:
df.head()

  area village   median
0  松山區      中崙里     803
1  松山區      自強里     800
2  松山區      鵬程里     746
3  松山區      東榮里     906
4  松山區      介壽里     856

In [30]:
df.columns = ['area', 'village', 'median']

In [31]:
df['address'] = df['area'] + df['village']

In [32]:
df.head()

  area village  median address
0  松山區     中崙里     803  松山區中崙里
1  松山區     自強里     800  松山區自強里
2  松山區     鵬程里     746  松山區鵬程里
3  松山區     東榮里     906  松山區東榮里
4  松山區     介壽里     856  松山區介壽里

In [8]:
from geocodeShort import geoc

In [13]:
from python_state import state_code_compute

In [33]:
df = geoc(df, 0)

the current key number is 0
start from 0

C:\Python\Python36-32\examples\area\geocodeShort.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['lat'][i] = lat
C:\Python\Python36-32\examples\area\geocodeShort.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['lon'][i] = lon

0
緯度為: 25.0462094
經度為: 121.5448501

In [34]:
df.head()

  area village  median address        lat         lon
0  松山區     中崙里     803  松山區中崙里  25.046209  121.544850
1  松山區     自強里     800  松山區自強里  25.055099  121.563402
2  松山區     鵬程里     746  松山區鵬程里  25.055416  121.567683
3  松山區     東榮里     906  松山區東榮里  25.060422  121.557694
4  松山區     介壽里     856  松山區介壽里  25.057434  121.559121

In [35]:
df.drop('address',axis=1,inplace=True)

In [36]:
df['state_code'] = df[['lat','lon']].apply(state_code_compute,axis=1)

In [37]:
print(len(df))
df = df[df['lat'] != 0]
print(len(df))

457
457

In [38]:
df.head()

  area village  median        lat         lon state_code
0  松山區     中崙里     803  25.046209  121.544850  553826959
1  松山區     自強里     800  25.055099  121.563402  554026983
2  松山區     鵬程里     746  25.055416  121.567683  554026984
3  松山區     東榮里     906  25.060422  121.557694  554226992
4  松山區     介壽里     856  25.057434  121.559121  554126987

In [21]:
df.columns = ['year', 'area', 'village', 'master', 'college', 'highSchool',
       'secondary', 'total', 'lat', 'lon', 'state_code']

In [22]:
df['master'] =  df['master'] / df['total']
df['college'] =  df['college'] / df['total']
df['highSchool'] =  df['highSchool'] / df['total']
df['secondary'] =  df['secondary'] / df['total']

In [23]:
df.head()

,year,area,village,master,college,highSchool,secondary,total,lat,lon,state_code
0,106,松山區,莊敬里,0.081176,0.289560,0.456843,0.172421,4866,25.072157,121.566969,554427016
1,106,松山區,東榮里,0.158182,0.387064,0.384340,0.070414,6973,25.060422,121.557694,554226992
2,106,松山區,三民里,0.134777,0.383161,0.392696,0.089367,6188,25.059660,121.562332,554126992
3,106,松山區,新益里,0.103236,0.324120,0.437751,0.134893,4233,25.062045,121.567683,554226998
4,106,松山區,富錦里,0.128194,0.364991,0.403961,0.102853,4696,25.060066,121.564829,554126993

In [39]:
df.to_csv('taxtion_done.csv',index=False)

In [1]:
t = {'a':1,'b':2,'c':3}

In [ ]:
t['a']